// $black : #151618;
$black : #010101;
$white : #fff;
$body-bg:#fafafa;
$dropback-bg : #000000cc ;
$orange : #d87d4a ;
$font-color-1 : #ffffff80;
$font-color-2 : #00000080;
$card-bg : #f1f1f1 ;
$edit-color : #5457b6 ;
$red : #cd2c2c ;
$green : #38a169 ;